---

---

<nav class="navigation">

  <!-- Navigation Container -->
  <div class="navigation_container">

    <!-- Navigation Logo -->
    <div class="navigation__logo">
      <a href="/" title="Página principal">
        <img src="/logo-32x32.webp" alt="Logo de TrulyDigital.tech" />
        <span>TrulyDigital.tech</span>
      </a>
    </div>

    <!-- Navigation Menu -->
    <div class="navigation__menu">
      <ul>
        <!-- Menu Item -->
        <li class="group">
          <div>
            <span class="group-hover:text-yellow-700">Emprendimiento</span>
            <img src="/keyboard-arrow-down.webp" alt="Menú desplegable" />
          </div>
          <!-- Sub Menu -->
          <div class="group-hover:visible group-hover:opacity-100">
            <ul>
              <!-- Sub Menu - Item -->
              <li class="navigation__menu___submenu-item">
                <a href="/">
                  <img src="/ideas-de-negocios.webp" alt="Icono Ideas de Negocios">
                  <span>
                    <span>
                      Ideas de Negocios
                    </span>
                    <span>
                      Inspirate, o encuentra casos de éxito.
                    </span>
                  </span>
                </a>
              </li>
              <!-- Sub Menu - Item -->
              <li class="navigation__menu___submenu-item">
                <a href="/">
                  <img src="/emprendimientos-desde-casa.webp" alt="Icono Emprendimientos desde casa">
                  <span>
                    <span>
                      Desde Casa
                    </span>
                    <span>
                      Desde tu hogar, también puedes emprender.
                    </span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>

    <!-- Navigation Extras -->
    <div class="navigation__extras">
      <a href="/" title="Página de Contácto" class="group">
        <!-- icon -->
        <img src="/youtube.webp" alt="Canal de Youtube." />
        <!-- tooltip -->
        <span class="group-hover:visible group-hover:opacity-100"> Youtube </span>
      </a>
      <a href="/" title="Página de Contácto" class="group">
        <!-- icon -->
        <img src="/github.webp" alt="Perfil de GitHub." />
        <!-- tooltip -->
        <span class="group-hover:visible group-hover:opacity-100"> GitHub </span>
      </a>
      <button class="group">
        <!-- icon -->
        <img src="/search.webp" alt="Buscar artículos." />
        <!-- tooltip -->
        <span class="group-hover:visible group-hover:opacity-100"> Buscar </span>
      </button>
      <a href="/"> Contácto </a>
      <button>
        <img src="/menu.webp" alt="Menú de navegación lateral" />
      </button>
    </div>
  </div>
</nav>
